a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

li {
    float: left;
}

ul {
    background-color: #dddddd;
}

h1{
    text-align: center;
    font: 40px Papyrus, sans-serif;
}

.background-color-main{
    background-color: #7EA0B7
}
.container-1{
    background-color: #597081;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.paragraph-container{
    color:white;
    font: 15px Papyrus, sans-serif;
    background-color: #A9CEF4;
    text-align: center;
}

.d-block{
    height: 80%
}

html,
body,
#map {
  height: 85%;
  padding: 15;
  margin: 15;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
