a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

li {
    float: left;
}

ul {
    background-color: #dddddd;
}

h1{
    text-align: center;
    font: 60px Papyrus, sans-serif;
    margin: auto;
    background-color: gold;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.background-color-main{
    background-color: #7EA0B7
}
.container-1{
    background-color: #597081;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.paragraph-container{
    color: black;
    font: 30px Papyrus, sans-serif;
    background-color: #A9CEF4;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.dataclarify{
    color: black;
    font: 18px Papyrus, sans-serif;
    background-color: #A9CEF4;
    text-align: left;
    margin:15px;
    padding: 15px;
    line-height:5vh;
    border-radius: 25px;
    border: 2px solid #73AD21;
}

.dropdown{
    margin: 15px;
    padding: 15px;
}

.img-responsive{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.img-gif{
    height:100%;
    width: 100%;
    object-fit: contain;
}

html,
body,
#map {
  height: 85%;
  padding: 15;
  margin: 15;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

html,
body,
#bar1{
height: 85%;
padding: 5;
margin: 5;
}

/*html,
body,
#bar2{
height: 85%;
padding: 5;
margin: 5;
}   
*/

html,
body,
#chart{
height: 85%;
padding: 5;
margin: 5;
}

.footer{
background-color:gold;
margin:0;
padding:0;
width:100%;
height:15.5vh;
float:center;
}

.footerP{
color:black;
font-family: Papyrus, sans-serif;
font-size:25px;
text-align:left;
margin:auto;
padding:10px;
line-height:10vh;
}

.candyicon{
width:15vw;
height:20vh;
float:right;
padding: 10px;
margin: auto;
object-fit: contain;
}


