img{
    border: none;
    outline: 0;
}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

h1{
    text-align: center;
    font: 60px Papyrus, sans-serif;
    margin: auto;
    background-color: gold;
    border-radius: 25px;
    border: 2px solid #000099;
}


.background-color-main{
    background-color: #7EA0B7;
    width:100%;
}
.container{
    background-color: #597081;
}

.paragraph-container{
    color: black;
    font: 30px Papyrus, sans-serif;
    background-color: #A9CEF4;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000099;
    width: 90%
    margin: auto;
}

.dataclarify{
    color: black;
    font: 25px Papyrus, sans-serif;
    background-color: #A9CEF4;
    text-align: left;
    margin:15px;
    padding: 15px;
    line-height:5vh;
    border-radius: 25px;
    border: 2px solid #000099;
}

.dropdown{
    margin: 15px;
    padding: 15px;
}

.img-responsive{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.img-gif{
    height:100%;
    width: 100%;
    object-fit: contain;
}

html,
body,
#map {
  height: 85%;
  padding: 15;
  margin: 15;
  fill-outline-color:#000099;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

html,
body,
#bar1{
height: 85%;
padding: 5;
margin: 5;
}

#chart{
height: 50%;
padding: 5;
margin: 5;
background-color: #A9CEF4;
border: 2px solid #000099;
}

.footer{
background-color:gold;
border:none;
width:100%;
border-radius: 25px;
border: 2px solid #000099;
}

.footerP{
border:none;
color:black;
font-family: Papyrus, sans-serif;
font-size:25px;
text-align:left;
margin:auto;
padding:100px;
}

.footerN{
color:black;
font-family: Papyrus, sans-serif;
font-size:25px;
text-align:center;
margin:auto;
padding:100px;
}

.coffeeicon{
width:15vw;
height:15vh;
float:right;
padding: 15px;
margin: auto;
object-fit: contain;
}


