<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" href="/resource/styles.css"> -->
<head> </head>

<body class='background-color-main'>
    <h1>Header</h1>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Page 1</a></li>
        <li><a href="">Page 2</a></li>
        <li><a href="">Page 3</a></li>
    </ul>
    <br>
    <div >
        <p class='paragraph-container'> Sed rhoncus cursus tellus nec tempor. Phasellus id est ullamcorper, venenatis nunc sed, efficitur magna. Vivamus nunc tortor, egestas quis mauris ac, consequat ultricies turpis. Aliquam erat volutpat. Proin euismod in metus sed sollicitudin. Vestibulum vel nunc sit amet arcu ullamcorper rutrum nec sit amet eros. Fusce blandit turpis vel erat ullamcorper aliquet. Maecenas convallis mauris felis, et consectetur elit tincidunt blandit.</p>
    </div>
    <div class='container-1'> 
        <p> Hear Map c</p> 
    </div>
    <select id="selDataset" onchange="optionChanged(this.value)"></select> 
    <!-- <script>javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- / is from root going down. This is relative path from app.py -->
    <!-- static folder is important.  -->
    <script src="/static/js/barchart.js"></script>

</body>

<footer> 
</footer>

</html>

