<!DOCTYPE html>
<html lang="en">

<!-- <<<<<<< HEAD:index.html -->
<head> 
    <meta charset="utf-8">
    <title>Overseas Education Costs</title>

    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Our Css -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

    <body class='background-color-main'>
    <h1>Take A Trip To Educate Yourself!</h1>
    <ul>
        <li><a href="">Home</a></li>
<!--         <li><a href="">Page 1</a></li>-->
    </ul>

    <br>

    <div >
        <p class='paragraph-container'> Where are the hot spots for student travel and costs associated with those locations! </p>
    </div>

    <!-- The div where we will inject our map -->
    <div id="map"></div>

    <!-- Drop down selection -->
    <select id="selDataset" onchange="optionChanged(this.value)"></select> 

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <!-- static folder is important.  -->
    <script src="../static/js/barchart.js"></script>

    <!-- API key -->
    <script type="text/javascript" src="../static/config/config.js"></script>

    <!-- JS -->
    <script type="text/javascript" src="../static/js/studyabroad.js"></script>

</body>

<footer> 
</footer>

</html>
